export("rc_est")
export("adf_est")
export("margtransf")
export("rc_unc")
export("rc_gof")
export("adf_gof")
import(evd)
import(ismev)
import(mathjaxr)
import(ggplot2)
import(dplyr)
import(latex2exp)
import(cowplot)
importFrom(Rdpack, reprompt)
exportMethods(plot)
